
table {
    width: 80%;
    border: 1px solid #400000;
    align-content: center;
}


thead th {
    background-color: #c0c0c0;
    padding: 10px;
    text-align: left;
}


tbody tr:nth-child(even) {
    background-color: #dfbfff;
}
body, table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

/* Style the table */
table {
    width: 80%; /* Adjust width as needed */
    margin: 0 auto; /* Center the table horizontally */
    border: 1px solid #ddd;
    background-color: #e0b5f2; /* Background color for the table */
}

/* Style table headers */
thead th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
}

/* Style table rows */
tbody tr:nth-child(even) {
    background-color: #ffd5ff;
}

tbody tr:hover {
    background-color: #ffd2ff;
}

/* Style table cells */
td {
    padding: 10px;
    border: 1px solid #ffceff;
}


source {
    display: block;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffcc;
    margin: 0;
    padding: 0; 
}
 
 